.SearchResults {
  background-color: #181818;
  border-radius: 12px;
  padding: 30px;
  border: 1px solid #282828;
}

.SearchResults-title {
  margin: 0 0 25px 0;
  font-size: 24px;
  color: white;
  border-bottom: 2px solid #1DB954;
  padding-bottom: 10px;
}